.dashboard-card {
    width: 100%;
    min-height: 1px;
    overflow: hidden;
    padding-bottom: 20px;
    box-shadow: 1px 1px 5px #ccc;
    margin-bottom: 20px;
    color: $text;
    background-color: #fff;
    &__header {
        height: 40px;
        border-bottom: 1px solid #E9E9F0;
        line-height: 40px;
        font-size: 16px;
        padding: 0 20px;
        cursor: pointer;
    }
    &__content {
        padding: 15px 0 0 0;
    }
    &__content-header {
        color: $dark-text;
    }
    &__no-data {
        width: 100%;
        padding: 30px;
        color: $text;
        border: 1px solid lighten($secondary, 30%);
        text-align: center;
        font-size: 15px;
        font-style: italic;
        border-radius: 2px;
        background: repeating-linear-gradient(
        45deg,
        lighten($secondary, 45%),
        lighten($secondary, 45%) 10px,
        lighten($secondary, 40%) 10px,
        lighten($secondary, 40%) 20px
        );
    }
}
.websitename {
    display: inline;
    font-weight: bold;
}
.websitedomain {
    display: inline;
    margin-left: 5px;
    color: $faded-text;
}
.websitedetails {
    display: none;
    float: right;
    color: $faded-text;
    position: relative;
    margin-right: 35px;
    &__icon {
        color: $faded-text!important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -25px;
    }
}

.dashboard-uptime {
    width: 100%;
    padding: 5px 20px 30px 20px;
    border-bottom: 1px solid #ebebeb;
    min-height: 1px;
    overflow: hidden;
}
.dashboard-loadspeed {
    width: 100%;
    padding: 25px 20px 15px 20px;
    border-bottom: 1px solid #ebebeb;
}
.dashboard-seo {
    width: 100%;
    padding: 25px 20px 20px 20px;
}

@include bp(tablet) {
    .dashboard-card__header {
        padding: 0 0 0 20px;
    }
    .websitedetails {
        display: inline;
    }
    .dashboard-uptime {
        width: calc(50% - 1px);
        float: left;
        border-bottom: 0;
        border-right: 1px solid #ebebeb;
    }
    .dashboard-loadspeed {
        width: 50%;
        border-bottom: 0;
        padding: 0 20px;
        float: left;
    }
    .dashboard-seo {
        min-height: 1px;
        overflow: hidden;
        border-top: 1px solid #ebebeb;
    }
}

@include bp(tv) {
    .dashboard-card {
        &__no-data {
            height: 240px;
            padding-top: 40px;
        }
    }
    .dashboard-uptime {
        width: 30%;
        min-height: 240px;
        float: left;
        border-right: 1px solid #ccc;
        padding: 0 20px;
    }
    .dashboard-loadspeed {
        width: 30%;
        min-height: 240px;
        float: left;
        border-right: 1px solid #ccc;
        padding: 0 20px;
    }
    .dashboard-seo {
        width: 40%;
        min-height: 240px;
        float: left;
        padding: 0 20px;
        border-top: 0;
    }
}