.header-img {
    height: 100vh;
    position: relative;
    right: 5%;
    animation-name: headerimg;
    animation-duration: 180s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.logo-siterocket {
    height: 36px;
    &__on-top {
        z-index: 3;
        position: fixed;
        top: 16px;
        left: 16px;
    }
}
.cls-2{fill:$primary}.cls-3{fill:$secondary}
.greentextlogo {
    fill: $primary;
}

@keyframes headerimg {
    0% {right: 5%;}
    50% {right: 70%;}
    100% {right: 5%;}
}