.loadtime-slowest-pages-text {
    color: $faded-text;
    font-size: 15px;
}
.loadtime-slowest-pages-url {
    float: left;
    margin-bottom: 10px;
}
.loadtime-slowest-pages-avg {
    float: right;
    margin-bottom: 10px;
}