.sidenav {
    display: none;
    &__logo {
        display: block;
        z-index: 2000;
    }
}

@include bp(desktop) {
    .sidenav {
        display: block;
        width: 300px;
        position: fixed;
        background-color: $primary;
        height: 100vh;
        color: $white;
        overflow-y: scroll;
        &__logo {
            width: 300px;
            position: fixed;
            top: 0;
            left: 0;
            height: 70px;
            padding: 17px 12px;
            background: #546E75;
            margin-bottom: 3px;
        }
        &__logo-img {
            height: 100%;
            width: auto;
            .cls-2{fill:$white}.cls-3{fill:$secondary}
        }
        &__list {
            width: 300px;
            display: block;
            min-height: 1px;
            overflow: hidden;
            background-color: $primary;
            position: fixed;
            top: 72px;
            left: 0;
            z-index: 1000;
        }
        &__item {
            display: block;
            min-height: 1px;
            overflow: hidden;
            width: 300px;
            padding: 20px 10px 20px 20px;
            border-left: 5px solid transparent;
            margin-bottom: 1px;
            cursor: pointer;
        }
        &__icon {
            float: left;
            margin-right: 12px;
            i {
                color: $white !important;
            }
        }
        &__label {
            position: relative;
            top: 1px;
            float: left;
        }
        &__sublist {
            width: 100%;
            display: block;
            min-height: 1px;
            overflow-y: scroll;
            position: absolute;
            top: 200px;
            left: 0;
        }
        &__subitem {
            display: block;
            min-height: 1px;
            overflow: hidden;
            width: 100%;
            padding: 20px 10px 20px 80px;
            border-left: 5px solid transparent;
            margin-bottom: 1px;
            cursor: pointer;
        }
    }
    
    .active {
        background: rgba(0, 0, 0, .1);
        border-left: 5px solid $secondary;
    }
}