.website-card {
    padding: 15px 0 0 0;
    &__total-uptime {
        padding: 20px 20px 30px 20px;
        border-bottom: 1px solid #ebebeb;
        min-height: 1px;
        overflow: hidden;
    }
    &__week-uptime {
        display: none;
    }
    &__longest-uptime {
        padding: 20px 20px 30px 20px;
        border-bottom: 1px solid #ebebeb;
        min-height: 1px;
        overflow: hidden;
    }
    &__downtime-overview {
        padding: 20px 20px 30px 20px;
        border-bottom: 1px solid #ebebeb;
        min-height: 1px;
        overflow: hidden;
    }
    &__quick-insight {
        padding: 20px 20px 30px 20px;
        border-bottom: 1px solid #ebebeb;
        min-height: 1px;
        overflow: hidden;
    }
    &__slowest-loadspeed {
        padding: 20px 20px 30px 20px;
        border-bottom: 1px solid #ebebeb;
        min-height: 1px;
        overflow: hidden;
    }
    &__loadspeed-overview {
        padding: 20px 20px 30px 20px;
        border-bottom: 1px solid #ebebeb;
        min-height: 1px;
        overflow: hidden;
    }
}

@include bp(tablet) {
    .website-card {
        &__total-uptime {
            width: 50%;
            float: left;
            border: 0;
        }
        &__longest-uptime {
            border: 0;
        }
        &__quick-insight {
            border-bottom: 0;
            width: 50%;
            float: left;
        }
        &__slowest-loadspeed {
            border-bottom: 0;
            width: 50%;
            float: left;
        }
    }
}

@include bp(desktop) {
    .website-card {
        &__total-uptime {
            border-bottom: 0;
        }
        &__week-uptime {
            display: block;
            width: 50%;
            float: left;
            padding: 20px 20px 65px 20px;
            min-height: 1px;
            overflow: hidden;
        }
        &__longest-uptime {
            border-top: 1px solid #ebebeb;
            margin-top: 20px;
        }
        &__quick-insight {
            width: 300px;
        }
        &__slowest-loadspeed {
            width: calc(100% - 300px);
        }
    }
}

@include bp(tv) {
    .website-card {
        &__quick-insight {
            width: 400px;
        }
        &__slowest-loadspeed {
            width: calc(100% - 400px);
        }
    }
}

@include bp(bigtv) {
    .website-card {
        &__total-uptime {
            width: 300px;
            float: left;
        }
        &__week-uptime {
            width: 560px;
            float: left;
        }
        &__longest-uptime {
            border: 0;
            width: calc(100% - 860px);
            float: left;
        }
    }
}