.dashboard {
    width: 100%;
    min-height: 100vh;
    padding: 30px 20px;
    background-color: #F0F0F7;
    &__header {
        margin-bottom: 10px;
        min-height: 1px;
        overflow: hidden;
        &__button {
            float: right;
        }
        &__text {
            float: left;
            font-size: 28px;
            color: $dark-text;
            line-height: 50px;
            position: relative;
            top: -3px;
        }
    }
}

@include bp(desktop) {
    .dashboard {
        &__header {
            &__button {
                float: right;
            }
            &__text {
                float: left;
                font-size: 28px;
                color: $dark-text;
                line-height: 50px;
            }
        }
    }
}