.dashboard {
    margin-top: 64px;
    width: 100%;
    padding: 50px;
    &__header {
        height: 50px;
        margin-bottom: 50px;
        &__button {
            float: right;
        }
        &__text {
            float: left;
            font-size: 28px;
            color: $dark-text;
            line-height: 50px;
        }
    }
}
.dashboard-card {
    width: 100%;
    height: 250px;
    box-shadow: 1px 1px 5px #ccc;
    margin-bottom: 20px;
    color: $dark-text;
    &__header {
        height: 40px;
        border-bottom: 1px solid #E9E9F0;
        line-height: 40px;
        font-size: 16px;
    }
    &__content {
        padding: 15px 0 0 25px;
    }
    &__content-header {
        color: $dark-text;
    }
}
.websitename {
    float: left;
    margin-left: 25px;
}
.websitedomain {
    float: left;
    margin-left: 5px;
    color: $faded-text;
}
.websitedetails {
    float: right;
    color: $faded-text;
    position: relative;
    margin-right: 45px;
    &__icon {
        color: $faded-text!important;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -25px;
    }
}
.dashboard-uptime {
    width: 25%;
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 20px;
}
.dashboard-loadspeed {
    width: 25%;
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 20px;
}
.dashboard-seo {
    width: 50%;
    float: left;
    padding: 0 20px;
}