.website {
    padding: 30px 20px;
    &__header {
        margin-bottom: 10px;
        min-height: 1px;
        overflow: hidden;
        color: $faded-text;
        &__text {
            display: inline;
            font-size: 28px;
            color: $dark-text;
            line-height: 50px;
        }
        &__fadedtext {
            display: inline;
            font-size: 28px;
            color: $faded-text;
            line-height: 50px;
            margin-left: 5px;
        }
    }
}
.settingsbutton {
    float: right;
    position: absolute;
    right: 10px;
    top: 10px;
}
.website-header {
    font-size: 16px;
    margin-bottom: 20px;
}
.website-card {
    padding: 10px;
    min-width: 1px;
    overflow: hidden;
}

.v-tabs__item--active {
    color: $secondary !important;
}

@include bp(desktop) {
    .website__header__text,
    .website__header__fadedtext {
        font-size: 24px;
    }
}